@layout('layout/app')

@section('content')
  <figure>
    <img src="images/me.jpg" alt="me" class="profile">
    <figcaption>
      <h2>Welcome to my personal page.</h2>
    </figcaption>
  </figure>
@endsection
